/* Main Styles */
html {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

body {
    margin: 0px;
    font-size: 2em;
    font-family: 'Roboto Condensed', sans-serif;
}

p {
    margin: -20px;
}

a {
    color: rgb(0, 49, 211);
    text-decoration: none;
}

a:hover {
    color: rgb(1, 31, 129);
    text-decoration: none;
}

.spacer80 {
    height: 80px;
}

.left-align {
    text-align: left;
}

.right-align {
    text-align: right;
}

.page-wrapper {
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(255, 249, 196);
}